<div class="card contenedor-tutoriales">
  <br>
  <h1 class="sangria">Configurar las sugerencias de la carta</h1>
  <div class="card-header">
    <h2 class="sangria"> 
      Ofrecer nuevas sugerencias en la carta es importante para nuestro restaurante. Por
      ello, facilitaremos al máximo su proceso de actualización.
      Para actualizar la carta, deberemos registrarnos e iniciar sesión con perfil de administrador.
    </h2>
    <h2 class="sangria"> 
      Desde esta opción podremos añadir, eliminar o modificar una sugerencia de la carta. Para la búsqueda de
      sugerencias a eliminar o modificar, dispondremos de un potente filtro
    </h2>
    <h2 class="sangria"> 
      Pulse play abajo para ver el video explicativo
    </h2>
  </div>
  <div class="card-body">
    <div class="video-centrado">
      <video width="80%" controls>
        <source src="{{video}}" type="video/mp4">
      </video>
    </div>
  </div>
  <div class="text-center p-3 upgrade-btn">
    <a href="{{urlWebDemo}}" class="btn btn-lg d-block w-100 btn-dark">Inténtalo en la web de demostración</a>
  </div>
</div>

<!--

  <div class="card contenedor-tutoriales">
  <br>
  <h1 class="card-title sangria">Configurar las sugerencias de la carta</h1>
  <div class="card-header">
    <h1 class="sangria"> 

      Ofrecer nuevas sugerencias en la carta es importante para nuestro restaurante. Por
      ello, facilitaremos al máximo su proceso de actualización.
      Para actualizar la carta, deberemos registrarnos e iniciar sesión con perfil de administrador.

    </h1>
    <li class="sangria">
      Desde esta opción podremos añadir, eliminar o modificar una sugerencia de la carta. Para la búsqueda de
      sugerencias a eliminar o modificar, dispondremos de un potente filtro
    </li>
    <li class="sangria">
      Pulse play abajo para ver el video explicativo
    </li>
  </div>
  <div class="card-body">
    <div class="video-centrado">
      <video width="80%" controls>
        <source src="{{video}}" type="video/mp4">
      </video>
    </div>
  </div>
  <li class="text-center p-3 upgrade-btn">
    <a href="{{urlWebDemo}}" class="btn btn-lg d-block w-100 btn-dark">Inténtalo en la web de demostración</a>
  </li>
</div>
-->