<div class="card contenedor-tutoriales">
  <br>
  <h1 class="sangria">Actualización de los datos de tu restaurante</h1>
  <div class="card-header">
    <h2 class="sangria">
      Para actualizar los datos del restaurante, tenemos que estar registrados e iniciar sesión con perfil de
      administrador.
    </h2>
    <h2 class="sangria">
      Los campos "cuenta de correo" y "url de la web", estarán asignados por desarrollador y normalmente no deberán
      modificarse.
    </h2>
    <h2 class="sangria">
      En el campo "portada", pondremos el texto enriquecido que aparecerá en la página principal de nuestra web.
    </h2>
    <h2 class="sangria">
      En este formulario, asignaremos los datos que tendrá que tener en cuenta el cliente a la hora de
      gestionar su pedido online. Días de descanso, horario del restaurante, el tiempo mínimo para la disponibilidad
      de un pedido o el número días máximo de antelación en los que el cliente puede solicitar el pedido.
    </h2>
    <h2 class="sangria">
      Pulse play abajo para ver el video explicativo
    </h2>
  </div>
  <div class="card-body">
    <div class="video-centrado">
      <video width="80%" controls>
        <source src="{{video}}" type="video/mp4">
      </video>
    </div>
  </div>
  <div class="text-center p-3 upgrade-btn">
    <a href="{{urlWebDemo}}" class="btn btn-lg d-block w-100 btn-dark">Inténtalo en la web de demostración</a>
  </div>
</div>