<div class="card contenedor-tutoriales">
  <br>
  <h1 class="sangria">Gestión de pedidos</h1>
  <div class="card-header">
    <h2 class="sangria">
      Al entrar se mostrará una lista con pedidos online del día. Podremos filtrar por
      cualquier campo, ordernar por diversos campos y mostrar de forma ascendente o descendente.
    </h2>
    <h2 class="sangria">
      Desde aquí será donde el administrador pueda cambiar el estado de un pedido, y pasarlo
      por ejemplo a estado abonado o directamente eliminar el pedido.
    </h2>
    <h2 class="sangria">
      Para entrar en gestión de pedidos, deberemos iniciar sesión con perfil de administrador.
    </h2>
    <h2 class="sangria">
      Pulse play abajo para ver el video explicativo
    </h2>
  </div>
  <div class="card-body">
    <div class="video-centrado">
      <video width="80%" controls>
        <source src="{{video}}" type="video/mp4">
      </video>
    </div>
  </div>
  <div class="text-center p-3 upgrade-btn">
    <a href="{{urlWebDemo}}" class="btn btn-lg d-block w-100 btn-dark">Inténtalo en la web de demostración</a>
  </div>
</div>