<div class="card contenedor-tutoriales">
    <br>
    <h1 class="sangria">Tramitar los pedidos online de clientes</h1>
    <div class="card-header">
        <h2 class="sangria">
            El cliente podrá revisar y modificar el contenido del pedido online 
        </h2>
        <h2 class="sangria">
            El cliente indicará donde se hace entrega del pedido, en el restaurante o en el domicilio. Para realizar 
            la entrega en el domicilio, se deberá asignar una dirección de entrega.
        </h2>
        <h2 class="sangria">
          Podrá establecer el día y la hora de entrega del pedido online e indicar una nota adjunta al pedido
        </h2>
        <h2 class="sangria">
            Debemos estar registrados y en sesión para hacer un pedido online
        </h2>
        <h2 class="sangria">
            Pulse play abajo para ver el video explicativo
        </h2>
    </div>
    <div class="card-body">
        <div class="video-centrado">
            <video width="80%" controls>
                <source src="{{video}}" type="video/mp4">
            </video>
        </div>
    </div>
    <div class="text-center p-3 upgrade-btn">
        <a href="{{urlWebDemo}}" class="btn btn-lg d-block w-100 btn-dark">Inténtalo en la web de demostración</a>
      </div>
</div>