<div class="contenedor-tutoriales">
  <h1 class="sangria" style="padding: 1em">Ventajas de una web de metaRestaurante</h1>
  <div class="row" style="padding: 1em;">
    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top" src="assets/images/cards/seo.png"
          alt="Las páginas web de metaRestaurante estan pensadas para el SEO" 
          title="Las páginas web de MetaRestaurante tienen muy presente el SEO"/>
        <div class="card-body">
          <h4 class="card-title">SEO</h4>
          <p class="card-text sangria">
            Los diseños de las páginas web de metaRestaurante tienen muy encuenta los motores de busqueda en internet,
            no obstante, deberemos tener en cuenta el SEO durante el ciclo de vida de la web del restaurante.
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top" src="assets/images/cards/responsive.png"
          alt="diseño responsive de las web proporcionadas por metaRestaurante" 
          title="Diseño responsive para tu web que permitirá su uso en múltiples dispositivos"/>
        <div class="card-body">
          <h4 class="card-title">Diseño web responsive</h4>
          <p class="card-text sangria">
            Las páginas web desarrolladas por MetaRestaurante, están diseñadas para utilizarse 
            y mostrarse perfectamente en diferentes dispositivos como móvil, tablet y pc.
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top" src="assets/images/cards/tecnologia.png"
          alt="En la implementacion de metaRestaurante se utilizan los lenguajes y framework más difundidos actualmente" 
          title="En la páginas web de MetaRestaurante están presentes la tecnologías de desarrollo software punteras"/>
        <div class="card-body">
          <h4 class="card-title">Tecnología</h4>
          <p class="card-text sangria">
            En la implementación metaRestaurante se emplean los frameworks, lenguajes y bases de datos y en general
            tecnologías mas difundidas actualmente.
            En la parte front-end podemos destacar la utilización de Angular 17, y en lado back-end java, spring y
            postgreSQL.
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top" src="assets/images/cards/grpd.svg"
          alt="Página web para tu restaurante adaptada a la nueva ley GRPD" 
          title="Tu página de MetaRestaurate ofrecerá al cliente la posibilidad de utilizar cookies o no"/>
        <div class="card-body">
          <h4 class="card-title">GRPD</h4>
          <p class="card-text sangria">
            Adaptación a la nueva ley de privacidad de datos llamada Reglamento General de Protección de Datos (GDPR),
            que se aplica a todas las organizaciones que recopilan datos personales de ciudadanos de la UE.
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top" src="assets/images/cards/mantenimiento.svg"
          alt="Opción de contratar mantenimiento de la web de tu restaurante" 
          title="opción de mantenimiento integral externo para tu web"/>
        <div class="card-body">
          <h4 class="card-title">Mantenimiento de la web</h4>
          <p class="card-text sangria">
            Asesoramiento técnico y opción de mantenimiento integral para garantizar la disponibilidad de la aplicación.
            Los cambios importantes de estructura y diseño, se realizaran bajo presupuesto.
          </p>
        </div>
      </div>
    </div>

  </div>
  <!-- Row -->
</div>