<div class="card contenedor-tutoriales">
  <div class="card-header" id="headingOne">
    <h3 class="mb-0">Política de cookies
    </h3>
  </div>

  <div>
    <div class="card-body">
      <strong>1. &iquest;Qu&eacute; son las Cookies?</strong>
      
      <p style="text-align: justify;">Las Cookies son archivos que
        los sitios web o las aplicaciones instalan en el navegador o en
        el dispositivo (smartphone, tablet o televisi&oacute;n
        conectada) del usuario durante su recorrido por las
        p&aacute;ginas del sitio o por la aplicaci&oacute;n, y sirven
        para almacenar informaci&oacute;n sobre su visita.</p>
      <p>Como la mayor&iacute;a de los sitios en internet, este
        sitio web utiliza Cookies para:</p>
      <ol>
        <li>Asegurar que las p&aacute;ginas web pueden funcionar
          correctamente.</li>
        <li>Almacenar las preferencias, como el idioma que ha
          seleccionado o el tama&ntilde;o de letra.</li>
        <li>Conocer la experiencia de navegaci&oacute;n del
          usuario.</li>
        <li>Recopilar informaci&oacute;n estad&iacute;stica
          an&oacute;nima, como qu&eacute; p&aacute;ginas ha visitado el
          usuario o cu&aacute;nto tiempo ha permanecido en el sitio web.</li>
      </ol>
      <p style="text-align: justify;">El uso de Cookies permite
        optimizar la navegaci&oacute;n, adaptando la informaci&oacute;n
        y los servicios ofrecidos a los intereses del usuario, para
        proporcionarle una mejor experiencia siempre que visita el sitio
        web.</p>
      <p style="text-align: justify;">Este sitio web utiliza
        Cookies para funcionar, adaptar y facilitar al m&aacute;ximo la
        navegaci&oacute;n del usuario.</p>
      <p>
        <strong>2. Tipolog&iacute;a, finalidad y funcionamiento</strong>
      </p>
      <p style="text-align: justify;">Las Cookies, en
        funci&oacute;n de su permanencia, pueden dividirse en cookies de
        sesi&oacute;n o permanentes. Las primeras expiran cuando el
        usuario cierra el navegador. Las segundas expiran cuando se
        cumple el objetivo para el que sirven (por ejemplo, para que el
        usuario se mantenga identificado en el sitio web) o bien cuando
        se borran manualmente.</p>
      <p>Adicionalmente, en funci&oacute;n de su objetivo, las
        Cookies pueden clasificarse de la siguiente forma:</p>
      <ol>
        <li style="text-align: justify;"><span
          style="color: #000080;">Estrictamente necesarias
            (t&eacute;cnicas):</span> Son aquellas imprescindibles para el
          correcto funcionamiento de la p&aacute;gina. Normalmente se
          generan cuando el usuario accede al sitio web o inicia
          sesi&oacute;n en el mismo y se utilizan para identificarle en
          el sitio web con los siguientes objetivos:
          <ul>
            <li>Mantener al usuario identificado de forma que, si
              abandona el sitio web, el navegador o el dispositivo y en
              otro momento vuelve a acceder a dicho sitio web,
              seguir&aacute; identificado, facilitando as&iacute; su
              navegaci&oacute;n sin tener que volver a identificarse.</li>
            <li>Comprobar si el usuario est&aacute; autorizado para
              acceder a ciertos servicios o zonas del sitio web</li>
          </ul></li>
        <li style="text-align: justify;"><span
          style="color: #000080;">De rendimiento:</span> Se utilizan para
          mejorar la experiencia de navegaci&oacute;n y optimizar el
          funcionamiento del sitio web, como por ejemplo, almacenar las
          configuraciones de servicios, o almacenar la compra realizada
          en un carrito de la compra.</li>
        <li style="text-align: justify;"><span
          style="color: #000080;">De publicidad:</span> Son aquellas que
          recaban informaci&oacute;n sobre los anuncios mostrados a los
          usuarios del sitio web. Pueden ser de dos tipos:
          <ul>
            <li style="text-align: justify;">An&oacute;nimas: Solo
              recopilan informaci&oacute;n sobre los espacios publicitarios
              mostrados en el sitio web, con independencia del usuario que
              accede al sitio web, es decir, sin identificarle
              expresamente.</li>
          </ul></li>
        <ul>
          <li style="text-align: justify;">Personalizadas: Recopilan
            informaci&oacute;n personal del usuario del sitio web por
            parte de un tercero, para la personalizaci&oacute;n de dichos
            espacios publicitarios.</li>
        </ul>
        <li style="text-align: justify;"><span
          style="color: #000080;">De geo-localizaci&oacute;n:</span>
          Estas Cookies se utilizan para averiguar en qu&eacute;
          pa&iacute;s o regi&oacute;n se encuentra el usuario cuando
          accede a un servicio del sitio web con el fin de ofrecerle
          contenidos o servicios adecuados a su localizaci&oacute;n.</li>
        <li style="text-align: justify;"><span
            style="color: #000080;">Anal&iacute;ticas:</span>
          Recopilan informaci&oacute;n sobre la experiencia de
          navegaci&oacute;n del usuario en el sitio web, normalmente de
          forma an&oacute;nima, aunque en ocasiones tambi&eacute;n
          permiten identificar de manera &uacute;nica e inequ&iacute;voca
          al usuario con el fin de obtener informes sobre los intereses
          de los usuarios en los servicios que ofrece el sitio web.</li>
      </ol>
      <p>
        <br /> <strong>3. Cookies utilizadas en este sitio web</strong>
      </p>
      <p style="text-align: justify;">Nuestra web utiliza cookies funcionales y analíticas con la finalizdad
      de proporcional una mejor experiencia de navegación. La cookies funcionales son imprescindibles para el 
      funcionamiento de la página y estarán presentes aunque el usuario rechaze la utilización de cookies.
      Las cookies anaíticas perimitirán contabilizar de manera anónima las visitas sobre las paginas de nuestra web. </p>
      <p>
        <strong>4. Deshabilitar el uso de Cookies</strong>
      </p>
      <p style="text-align: justify;">Si el usuario as&iacute; lo
        desea, es posible dejar de aceptar las Cookies del navegador, o
        dejar de aceptar las Cookies de un servicio en particular.</p>
      <p style="text-align: justify;">Todos los navegadores
        modernos permiten cambiar la configuraci&oacute;n de Cookies.
        Estos ajustes normalmente se encuentran en las
        &ldquo;Opciones&rdquo; o &ldquo;Preferencias&rdquo; del
        men&uacute; del navegador.</p>
      <p style="text-align: justify;">El usuario podr&aacute;, en
        cualquier momento, deshabilitar el uso de Cookies en este sitio
        web mediante:</p>
      <p>La configuraci&oacute;n del navegador, por ejemplo:</p>
      <p>
        Google Chrome: <a
          href="http://support.google.com/chrome/bin/answer.py?hl=es&amp;answer=95647">http://support.google.com/chrome/bin/answer.py?hl=es&amp;answer=95647</a>
      </p>
      <p>
        Internet Explorer: <a
          href="http://windows.microsoft.com/es-es/windows7/how-to-manage-cookies-in-internet-explorer-9">http://windows.microsoft.com/es-es/windows7/how-to-manage-cookies-in-internet-explorer-9</a>
      </p>
      <p>
        Mozilla Firefox: <a
          href="http://support.mozilla.org/es/kb/habilitar-y-deshabilitar-cookies-que-los-sitios-we">http://support.mozilla.org/es/kb/habilitar-y-deshabilitar-cookies-que-los-sitios-we</a>
      </p>
      <p>
        Apple Safari: <a href="http://support.apple.com/kb/ph5042">http://support.apple.com/kb/ph5042</a>
      </p>
      <p style="text-align: justify;">Otras herramientas de
        terceros, disponibles on-line, que permiten a los usuarios
        detectar las Cookies en cada sitio web que visita y gestionar su
        desactivaci&oacute;n (por ejemplo, Ghostery:
        http://www.ghostery.com/privacy-statement).</p>
      <p>
        <strong>5. &iquest;Qu&eacute; ocurre al deshabilitar
          las Cookies?</strong>
      </p>
      <p style="text-align: justify;">Algunas funcionalidades y
        servicios pueden quedar deshabilitados o tener un comportamiento
        diferente al esperado como, por ejemplo, permanecer
        identificado, mantener las compras en el &ldquo;carrito de la
        compra&rdquo; en un servicio de comercio electr&oacute;nico o
        recibir informaci&oacute;n dirigida a su localizaci&oacute;n,
        entre otros.</p>
      <p style="text-align: justify;">Si deshabilita el uso de
        Cookies en este sitio web es probable que deje de poder acceder
        a ciertas zonas del mismo o que se degrade notablemente la
        experiencia de navegaci&oacute;n en el mismo.</p>
      <p>
        <strong>6. Actualizaci&oacute;n de la Pol&iacute;tica
          de cookies</strong>
      </p>
      <p style="text-align: justify;">
        La empresa puede modificar
        esta Pol&iacute;tica de cookies en funci&oacute;n de exigencias
        legislativas, reglamentarias, o con la finalidad de adaptar
        dicha pol&iacute;tica a las instrucciones dictadas por la
        Agencia Espa&ntilde;ola de Protecci&oacute;n de Datos, por ello
        se aconseja a los usuarios que la visiten peri&oacute;dicamente.
      </p>
      <p style="text-align: justify;">Cuando se produzcan cambios
        significativos en esta Pol&iacute;tica de cookies, se
        comunicar&aacute; a los usuarios bien mediante la web o a
        trav&eacute;s de correo electr&oacute;nico a los usuarios
        registrados.</p>
      <p>&nbsp;</p>
    </div>
  </div>
</div>