<div class="card contenedor-tutoriales">
  <br>
  <h1 class="sangria">Diseño de los menús del restaurante</h1>
  <div class="card-header">
    <h2 class="sangria">
      Desde esta opción podremos añadir, eliminar o modificar un menú.
      Un menú se compone de primer plato, segundo plato y postre. Para cada uno de estos componentes, 
      podremos ofrecer a nuestros clientes, una o varias opciones o sugerencias de la carta
    </h2>
    <h2 class="sangria">
      Para gestionar menús, deberemos iniciar sesión con perfil de administrador. Al entrar en edición, podremos cambiar
      precio, descripción, identificador y añadir o quitar opciones en los componentes del menú.
    </h2>
    <h2 class="sangria">
      Pulse play abajo para ver el video explicativo
    </h2>
  </div>
  <div class="card-body">
    <div class="video-centrado">
      <video width="80%" controls>
        <source src="{{video}}" type="video/mp4">
      </video>
    </div>
  </div>
  <div class="text-center p-3 upgrade-btn">
    <a href="{{urlWebDemo}}" class="btn btn-lg d-block w-100 btn-dark">Inténtalo en la web de demostración</a>
  </div>
</div>