<div class="card contenedor-tutoriales">
  <div class="card-header" id="headingThree">
    <h3 class="mb-0">Términos del servicio
    </h3>
  </div>
  <div>
    <div class="card-body">

      <div
        class="elementor-element elementor-element-d4b1f9d elementor-widget elementor-widget-text-editor"
        data-id="d4b1f9d" data-element_type="widget"
        data-widget_type="text-editor.default">
        <div class="elementor-widget-container">
          <div class="elementor-text-editor elementor-clearfix">
            <p style="text-align: justify;">La empresa, trata de
              garantizar la disponibilidad de todos los platos que cada
              semana est&eacute;n publicitados en su web, sin embargo,
              debido a la naturaleza del producto, puede suspenderse la
              disponibilidad de un producto durante plazo no superiores a 5
              d&iacute;as. La empresa no se responsabiliza de los
              da&ntilde;os o perjuicios que puedan producirse al USUARIO
              consecuencia de fallos o desconexiones en las redes de
              telecomunicaciones y que ocasionen suspensi&oacute;n,
              cancelaci&oacute;n o interrupci&oacute;n del servicio de
              web) durante la prestaci&oacute;n del mismo.</p>
            <p style="text-align: justify;">Para realizar cualquier
              compra en la web de la empresa, es necesario que el cliente
              sea mayor de edad. Adem&aacute;s ser&aacute; preciso que el
              cliente se registre en la empresa a trav&eacute;s de un
              formulario de recogida de datos en el que se proporcione la
              informaci&oacute;n necesaria para la compra; datos que en
              cualquier caso ser&aacute;n veraces, exactos y completos
              sobre su identidad y que el cliente deber&aacute; consentir
              expresamente mediante la aceptaci&oacute;n de la
              pol&iacute;tica de privacidad.</p>
            <p>Los pasos a seguir para realizar la compra son:</p>
            <ul>
              <li style="text-align: justify;">Seleccionar los platos
                en la p&aacute;gina web y clickar en
                &ldquo;A&ntilde;adir&rdquo; para incorporar al carrito.</li>
              <li style="text-align: justify;">Ver carrito. Aparecen
                en pantalla los productos seleccionados, las unidades de
                cada uno con el precio individual y el precio total.</li>
              <li style="text-align: justify;">Finalizar pedido. Una
                vez finalizado el pedido el Usuario determinara si recoge el
                pedido en el propio restaurante o si quiere que se lo
                llevemos a casa, para ello debera a&ntilde;adir un
                domicilio, para ello puede hacer click en el bot&oacute;n
                dedicado o entrar en su perfil y a&ntilde;adirlo.</li>
              <li style="text-align: justify;">El pago del pedido se
                entregar&aacute; a la persona que lleva el pedido a su
                domicilio o en el propio restaurante.</li>
              <li style="text-align: justify;">Durante todo el proceso
                el usuario podr&aacute; ver el pedido y precio.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>