<div class="card contenedor-tutoriales">
  <br>
  <h1 class="sangria">Clasificación de sugerencias de la carta</h1>
  <div class="card-header">
    <h2 class="sangria">
      Los grupos que definimos en este apartado, serán muy útiles para establecer filtros que faciliten la busqueda de 
      elementos o sugerencias de la carta.
    </h2>
    <h2 class="sangria">
      Pulse play abajo para ver el video explicativo
    </h2>
  </div>
  <div class="card-body">
    <div class="video-centrado">
      <video width="80%" controls>
        <source src="{{video}}" type="video/mp4">
      </video>
    </div>
  </div>
  <div class="text-center p-3 upgrade-btn">
    <a href="{{urlWebDemo}}" class="btn btn-lg d-block w-100 btn-dark">Inténtalo en la web de demostración</a>
  </div>
</div>